<template name="skeleformTimePicker">
    <div class="row">
        <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
            {{#if schema.icon}}
                <i class="material-icons prefix timeIcon">{{schema.icon}}</i>
            {{/if}}

            {{fieldTime item schema}}
            <input type="date" id="{{field schema.name}}" class="skeleValidate gather timepicker">
            <label for="{{field schema.name}}" class="skeleformAlwaysActiveLabel">{{label schema.name}}{{required}}</label>

            <p class="skeleformFieldAlert text-danger"></p>
        </div>
    </div>
</template>
