<template name="skeleformCheckBox">
	<div class="row">
        <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
			{{#if isCheckBox}}
	            <input {{fieldValue item schema}} type="checkbox" class="skeleValidate gather" id="{{field schema.name}}" style="{{fieldStyle schema}}">
	            <label for="{{field schema.name}}">{{label schema.name}}{{required}}</label>
			{{else}}
				<div class="switchLabel" for="{{field schema.name}}">{{label schema.name}}{{required}}</div>
				<div class="switch">
					<label>
					  	{{switchLabel 'off'}}
					  	<input {{fieldValue item schema}} type="checkbox" class="skeleValidate gather" id="{{field schema.name}}" style="{{fieldStyle schema}}">
					  	<span class="lever"></span>
					  	{{switchLabel "on"}}
					</label>
				</div>
			{{/if}}

            <p class="skeleformFieldAlert skeleformCheckBoxAlert"></p>
        </div>
    </div>
</template>
