<template name="skeleformImageUpload">
    <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
        <div class="file-field input-field">
            <div class="btn">
                <span>{{label schema.name}}{{required}}</span>
                <input type="file" class="skeleValidate skeleGather imageUploader" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="{{placeholder schema.placeholder}}">
            </div>
        </div>

        <div id="{{field schema.name}}" class="firstColor z-depth-1 canvasContainer" data-validate="imageUpload">

        </div>
        <div style="clear:both;"></div>
        <p class="skeleformFieldAlert text-danger"></p>
    </div>
</template>

<!--<canvas class="willContainImage" id="{{field schema.name}}-mainImage"></canvas>-->
