<template name="skeleformImageUpload">
    <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">

        {{fieldValue}}
        <div class="file-field input-field">
            <div class="btn">
                {{#if schema.icon}}
                    <i class="material-icons {{photoClasses schema}}">{{schema.icon}}</i>
                {{/if}}
                <span>{{label schema.name}}{{required}}</span>
                <input type="file" class="skeleValidate skeleGather skeleImageUploader" id="{{field schema.name}}" {{isMultiple schema}}>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate {{filePathClass schema}}" type="text" placeholder="{{placeholder schema.placeholder}}">
            </div>
        </div>

        <div class="skeleCanvasContainer"></div>

        <div style="clear:both;"></div>
        <p class="skeleformFieldAlert text-danger"></p>
    </div>
</template>

<!--<canvas class="willContainImage" id="{{field schema.name}}-mainImage"></canvas>-->
