<template name="skeleformDatePicker">
    <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
        {{#if schema.icon}}
            <i class="material-icons prefix dateIcon">{{schema.icon}}</i>
        {{/if}}

        {{fieldValue}}
        <input type="date" id="{{field schema.name}}" class="skeleValidate skeleGather datepicker">
        <label for="{{field schema.name}}" class="skeleformAlwaysActiveLabel">{{label schema.name}}{{required}}</label>

        <p class="skeleformFieldAlert text-danger"></p>
    </div>
</template>
