<template name="skeleformEditor">
    <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">

        <div class="skeleEditorToolbar">
            <div class="skeleEditorBtn" data-command="bold">
                <i class="skeleEditorIcon material-icons">format_bold</i>
            </div>
            <div class="skeleEditorBtn" data-command="underline">
                <i class="skeleEditorIcon material-icons">format_underline</i>
            </div>
            <div class="skeleEditorBtn" data-command="italic">
                <i class="skeleEditorIcon material-icons">format_italic</i>
            </div>
            <div class="skeleEditorBtn" data-command="editorBackground">
                <i class="skeleEditorIcon material-icons">opacity</i>
            </div>
        </div>

        {{fieldValue}}
        <label for="{{field schema.name}}" class="active skeleEditorLabel">{{label schema.name}}{{required}}</label>
        <div id="{{field schema.name}}" class="skeleEditor skeleValidate skeleGather" contenteditable="true" spellcheck="false">

        </div>

        <p class="skeleformFieldAlert"></p>
    </div>
</template>
