<template name="skeleformInput">
    <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
        {{#if schema.icon}}
            <i class="material-icons prefix">{{schema.icon}}</i>
        {{/if}}

        {{fieldValue}}
        {{#if (skeleformTest schema.renderAs "textarea")}}
            <textarea id="{{field schema.name}}" class="materialize-textarea skeleValidate skeleGather" maxlength="{{schema.validation.max}} data-length={{schema.charCounter}}"></textarea>
        {{else}}
            <input type="{{inputType schema.renderAs}}" maxlength="{{schema.validation.max}}" class="skeleValidate skeleGather" id="{{field schema.name}}" autocomplete="off" style="{{fieldStyle schema}}" data-length={{schema.charCounter}}>
        {{/if}}
        {{#if schema.autocomplete}}
            <div class="autocompleteContainer">
                <ul class="collection"></ul>
            </div>
        {{/if}}
        <label for="{{field schema.name}}" class="active">{{label schema.name}}{{required}}</label>

        {{#if (skeleformTest schema.autocomplete schema.autocomplete.multiple "and")}}
            <div class="autocompleteSelected hide"></div>
        {{/if}}

        <p class="skeleformFieldAlert"></p>
    </div>
    <!-- shadow confirm field -->
    {{#if schema.shadowConfirm}}
        <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
            <input type="{{inputType schema.renderAs}}" maxlength="{{schema.validation.max}}" class="shadowField" id="{{field schema.name}}ShadowConfirm" autocomplete="off" style="{{fieldStyle schema}}">
            <label for="{{field schema.name}}ShadowConfirm" class="active">{{label schema.name "shadowConfirm"}}{{required}}</label>

            <p class="skeleformFieldAlert"></p>
        </div>
    {{/if}}
</template>
