<template name="skeleformSortableList">
    <div class="row">
        <div class="col s12 m6">
            <ul class="menuItems collection">
                {{#each data}}
                    <li class="collection-item">
                        {{#if (skeleLangAttribute this "menuIcon" "skeletorDefault")}}
                            <i class="material-icons left">{{skeleLangAttribute this "menuIcon" "skeletorDefault"}}</i>
                        {{/if}}
                        {{skeleLangAttribute this "menuName" "skeletorDefault"}}
                        <span class="hide pageId">{{this._id}}</span>

                        <i class="material-icons right pointer dragHandle">drag_handle</i>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
