<template name="skeleformCheckBox">
	<div class="row">
        <div class="input-field col {{fieldSize schema.size}} {{schema.style}}">
            {{#if schema.icon}}
                <i class="material-icons prefix">{{schema.icon}}</i>
            {{/if}}

            <input {{fieldValue item schema}} type="checkbox" class="skeleValidate gather" id="{{field schema.name}}" style="{{fieldStyle schema}}">
            <label for="{{field schema.name}}">{{label schema.name}}{{required}}</label>

            <p class="skeleformFieldAlert"></p>
        </div>
    </div>
</template>
