<template name="skeleformList">
    <div class="row skeleformList">
        <div class="col s12 m6">
            {{fieldValue}}

            {{#if fieldSchema.header}}
                <div class="row skeleformListHeader">
                    {{{fieldSchema.header instance}}}
                </div>
            {{/if}}

            <ul id="{{field schema.name}}" class="skeleformListItems collection {{skeleClasses}}">
                {{#each items}}
                    <li class="collection-item" data-id="{{valueSchema this}}">
                        <div class="row skeleformListItemRow">
                            {{#each displayValues fieldSchema}}
                                {{#if this.isIcon}}
                                    <i class="material-icons left">{{{displayValue this ..}}}</i>
                                {{else}}
                                    {{{displayValue this ..}}}
                                {{/if}}
                            {{/each}}

                            {{#if fieldSchema.sortable}}
                                <i class="material-icons right pointer dragHandle">{{dragHandleIcon}}</i>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
                {{#if isEmpty}}
                    <li class="collection-item">
                        {{#if schema.emptyLabel}}
                            {{i18n schema.emptyLabel}}
                        {{else}}
                            ({{i18n "empty_lbl"}})...
                        {{/if}}
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</template>
