<!-- create toolbar -->
<template name="skeleformCreateButtons">
    <div class="skeleStaticBar">
        <div class="skeleformToolbar">
            <div class="waves-effect waves-light btn confirmColor skeleformCreate">
                <i class="material-icons small left">add_circle</i>
                <span>{{i18n "create_btn"}}</span>
            </div>

            {{#if formContext.schema.__toolbar.printFunctions}}
                {{> skeleformPrintFunctions this}}
            {{/if}}

            {{#if formContext.schema.__toolbar.extrasCreate}}
                {{> Template.dynamic template=formContext.schema.__toolbar.extrasCreate data=this}}
            {{/if}}

            <a href="{{makeUndoPath formContext.schema.__paths.undoPath}}?lang={{currentLang}}" class="waves-effect waves-light btn undoColor">
                <i class="material-icons small left">undo</i>
                <span>{{i18n "cancel_btn"}}</span>
            </a>

            {{> skeleformStaticAddons}}
        </div>
    </div>
</template>
