<template name="skelePanelTest">
    <div class="skelePanel skelePanelTest">
        <h4>Test Loading screen...</h4>
        <br /><br />

        {{> gearContent}}


        <h4>Test sortablejs</h4>
        <br /><br />

        <div class="container">
            <div>
                item 1
            </div>
            <div>
                item 2
            </div>
            <div>
                item 3
            </div>
            <div>
                item 4
            </div>
            <div>
                item 5
            </div>
            <div>
                item 6
            </div>
            <div>
                item 7
            </div>
        </div>
    </div>
</template>
