<template name="skeleform">
    <div class="skeleform">
        <!-- form loading modal -->
        {{#if schema.__options.loadingModal}}
            {{> gearLoading}}
        {{/if}}

        <!-- toolbar -->
        {{#unless schema.__toolbar.containerId}}
            {{#with toolbarContext}}
                {{> skeleformToolbar this}}
            {{/with}}
        {{/unless}}

        <!-- form fields -->
        <div class="skeleformFields">
            {{#with generalContext}}
                {{> skeleformBody this}}
            {{/with}}
        </div>
    </div>
</template>

<template name="skeleformBody">
    {{#each (fields this)}}
        {{#with isFieldInCurrentForm this}}
            {{#if data.schema.skeleformGroup}}
                {{!-- handle not last level skeleform groups --}}

                {{#if data.schema.replicaSet}}
                    {{!-- handle replica sets of skeleform groups --}}
                    {{> skeleformReplicaSetWrapper data=data}}

                {{else}}
                    <div class="row {{formatClasses data.schema.classes}}" id="{{data.schema.id}}">
                        {{#if data.schema.size}}
                            {{!-- skeleformGroups with user defined size --}}
                            <div class="col {{data.schema.size}} {{formatClasses data.schema.classes}}">
                                {{> skeleformBody data}}
                            </div>
                        {{else}}
                            {{!-- skeleformGroups without user defined size --}}
                            {{> skeleformBody data}}
                        {{/if}}
                    </div>
                {{/if}}
            {{else}}
                {{> skeleformField this}}
            {{/if}}
        {{/with}}
    {{/each}}
</template>


<template name="skeleformField">
    {{#if (test data.groupLevel 0)}}
        {{!-- fields natively at level 0 (not grouped) --}}
        <div class="row">
            {{> Template.dynamic template=template data=(createDataForField data)}}
        </div>
    {{else}}
        {{!-- fields grouped --}}
        {{> Template.dynamic template=template data=(createDataForField data)}}
    {{/if}}
</template>


<template name="skeleformReplicaSetWrapper">
    <div class="skeleformReplicaSet {{formatClasses data.schema.classes}}">
        {{#each (handleReplicaSets this)}}
            {{> skeleformReplicaSet this}}
        {{/each}}
    </div>
</template>

<template name="skeleformReplicaSet">
    <div class="row skeleformReplicaFrame {{formatClasses this.instance.data.schema.groupClasses}}" id="{{this.instance.data.schema.id}}">
        {{handleReplicaIndex this}}
        {{#if this.instance.data.schema.size}}
            {{!-- skeleformGroups with user defined size --}}
            <div class="col {{this.instance.data.schema.size}} {{formatClasses this.instance.data.schema.classes}}">
                {{> skeleformBody this}}
            </div>
        {{else}}
            {{!-- skeleformGroups without user defined size --}}
            {{> skeleformBody this}}
        {{/if}}

        {{> Template.dynamic template=this.instance.data.replicaSet.template data=this.instance.data}}
    </div>
</template>


<!-- loads default or custom toolbar on top of skeleform -->
<template name="skeleformToolbar">
    <div class="skeleskeleStaticBarPlaceholder"></div>
    {{#if schema.__toolbar.template}}
        {{> Template.dynamic template=schema.__toolbar.template data=this}}
    {{else}}
        {{#if formContext.item}}
            {{> skeleformUpdateButtons this}}
        {{else}}
            {{> skeleformCreateButtons this}}
        {{/if}}
    {{/if}}
</template>


<!-- skeleform default toolbars -->
<!-- create toolbar -->
<template name="skeleformCreateButtons">
    <div class="skeleStaticBar">
        <div class="skeleformToolbar">
            <div class="waves-effect waves-light btn thirdColor skeleformCreate">
                <i class="material-icons small left">add_circle</i>
                <span>{{_ "create_btn"}}</span>
            </div>
            {{#if formContext.schema.__toolbar.extrasCreate}}
                {{> Template.dynamic template=formContext.schema.__toolbar.extrasCreate}}
            {{/if}}
            <a href="{{makeUndoPath formContext.schema.__paths.undoPath}}?lang={{currentLang}}{{isPaginated formContext.schemaName}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">undo</i>
                <span>{{_ "cancel_btn"}}</span>
            </a>

            {{> skeleformStaticAddons}}
        </div>
    </div>
</template>


<!-- update toolbar -->
<template name ="skeleformUpdateButtons">
    <div class="skeleStaticBar">
        <div class="skeleformToolbar">
            <div class="waves-effect waves-light btn secondColor skeleformUpdate">
                <i class="material-icons small left">beenhere</i>
                <span>{{_ "update_btn"}}</span>
            </div>
            {{#if formContext.schema.__toolbar.extrasUpdate}}
                {{> Template.dynamic template=formContext.schema.__toolbar.extrasUpdate}}
            {{/if}}
            <a href="{{makeUndoPath formContext.schema.__paths.undoPath}}{{isPaginated formContext.schemaName}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">undo</i>
                <span>{{_ "cancel_btn"}}</span>
            </a>

            {{> skeleformStaticAddons}}
            {{#if isTranslatable}}
                {{> skeleformLangBar}}
            {{/if}}
        </div>
    </div>
</template>


<!-- content lang bar -->
<template name="skeleformLangBar">
    <div class="skeleformLangs right">
        {{#each langs}}
            <div class="langFlag {{isActive this}}" data-lang="{{this}}">
                <img src="/images/icons/lang/{{this}}.jpg">
            </div>
        {{/each}}
    </div>
</template>

<template name="skeleformStaticAddons">
    <span class="staticAddons right">
        <i class="material-icons medium firstHoverColor pointer toTop">expand_less</i>
        <i class="material-icons medium firstHoverColor pointer toBottom">expand_more</i>
    </span>
</template>
