<template name="skeleform">
    {{> gearLoading}}
    
    <!-- toolbar -->
    {{#unless this.schema.__toolbar.containerId}}
        {{> skeleformToolbar this}}
    {{/unless}}

    <!-- form fields -->
    <div class="skeleformFields">
        {{#each fields schema}}
            {{#if isNeeded this ..}}  <!-- check if the field is needed (showOnly option) -->
                {{#with fieldType output this ../item}}
                    {{> Template.dynamic template=this.template data=this.data}}
                {{/with}}
            {{/if}}   
        {{/each}}
    </div>
</template>

<!-- loads default or custom toolbar on top of skeleform -->
<template name="skeleformToolbar">
    {{#if this.schema.__toolbar.template}}
        {{> Template.dynamic template=this.schema.__toolbar.template}}
    {{else}}
        {{#if item}}
            {{> skeleformUpdateButtons this}}
        {{else}}
            {{> skeleformCreateButtons this}}
        {{/if}}
    {{/if}}
</template>

<!-- skeleform default toolbars -->
<template name="skeleformCreateButtons">
    <div class="staticBar">
        <div class="skeleformToolbar">
            <div class="waves-effect waves-light btn thirdColor skeleformCreate">
                <i class="material-icons small left">add_circle</i>
                <span>{{_ "create_btn"}}</span>
            </div>
            {{#if this.schema.__toolbar.extrasCreate}}
                {{> Template.dynamic template=this.schema.__toolbar.extrasCreate}}
            {{/if}}
            <a href="{{this.schema.__paths.undoPath}}?lang={{currentLang}}{{isPaginated this.schemaName}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">undo</i>
                <span>{{_ "cancel_btn"}}</span>
            </a>

            {{> skeleformStaticAddons}}
        </div>
    </div>
</template>

<template name ="skeleformUpdateButtons">
    <div class="staticBar">
        <div class="skeleformToolbar">
            <div class="waves-effect waves-light btn secondColor skeleformUpdate">
                <i class="material-icons small left">beenhere</i>
                <span>{{_ "update_btn"}}</span>
            </div>
            {{#if this.schema.__toolbar.extrasUpdate}}
                {{> Template.dynamic template=this.schema.__toolbar.extrasUpdate}}
            {{/if}}
            <a href="{{this.schema.__paths.undoPath}}?lang={{currentLang}}{{isPaginated this.schemaName}}" class="waves-effect waves-light btn firstColor">
                <i class="material-icons small left">undo</i>
                <span>{{_ "cancel_btn"}}</span>
            </a>
            
            {{> skeleformStaticAddons}}
            {{#if isTranslatable}}
                {{> skeleformLangBar}}
            {{/if}}
        </div>
    </div>
</template>

<!-- content lang bar -->
<template name="skeleformLangBar">
    <div class="skeleformLangs right">
        {{#each langs}}
            <div class="langFlag {{isActive this}}" data-lang="{{this}}">
                <img src="/images/icons/lang/{{this}}.jpg">
            </div>
        {{/each}}
    </div>
</template>

<template name="skeleformStaticAddons">
    <span class="staticAddons right">
        <i class="material-icons medium secondColorContent firstHoverColor pointer toTop">expand_less</i>
        <i class="material-icons medium secondColorContent firstHoverColor pointer toBottom">expand_more</i>
    </span>
</template>
