<!-- replica wrapper -->
<template name="skeleformReplicaSetWrapper">
    <div class="skeleformReplicaSet {{formatClasses this.fieldSchema.replicaSet.setClasses}}">
        {{#each (createReplicaContext this)}}
            {{> skeleformReplicaFrame this}}
        {{/each}}
    </div>
</template>


<!-- frame for single replica item -->
<template name="skeleformReplicaFrame">
    <div class="skeleformReplicaFrame {{formatClasses this.fieldSchema.replicaSet.frameClasses}}">
        <div class="replicaFrameBody">
            <div class="skeleformReplicaHandle valign-wrapper">
                <i class="material-icons">more_horiz</i>
            </div>

            {{#if this.fieldSchema.replicaSet.indexes}}
                <div class="skeleformReplicaIndex">
                    {{humanReadableIndex this.replicaIndex}}
                </div>
            {{/if}}
            {{> skeleformBody this}}

            {{> skeleformDefaultReplicaBtns this}}
        </div>
    </div>
</template>


<!-- default replica functions -->
<template name="skeleformDefaultReplicaBtns">
    <div class="row skeleformReplicaBtnsWrapper">
        <div class="col s12">
            <div class="waves-effect waves-light btn confirmColor skeleReplicaBtnAdd">
                <i class="material-icons small">&#xE145;</i>
            </div>
            <div class="waves-effect waves-light btn undoColor skeleReplicaBtnRemove">
                <i class="material-icons small">&#xE15B;</i>
            </div>

            {{!--
            {{#if this.replicaOptions.sortable}}
                <div class="waves-effect waves-light btn fourthColor skeleReplicaBtnMoveUp">
                    <i class="material-icons small">&#xE5D8;</i>
                </div>
                <div class="waves-effect waves-light btn fourthColor skeleReplicaBtnMoveDown">
                    <i class="material-icons small">&#xE5DB;</i>
                </div>
            {{/if}}
            --}}
        </div>
    </div>
</template>
