// app colors
@import "{}/client/styles/panelColors";
// clockpicker;
//@import "clockpicker.variables";
@import "clockpicker.primary";
@import "file-uploader";


.skeleformWrapper {
    margin-top: 60px;

    .skeleformInvisible {
        opacity: 0 !important;
    }

    .skeleformFieldAlert {
        margin: 0;

        &.skeleformCheckBoxAlert {
            margin-top: 15px;

            .switch + & {
                margin-top: 45px;
            }
        }
    }

    .switchLabel {
        margin-bottom: 15px;
    }
    .switch {
        label {
            margin-top: 15px;
        }
    }

    .skeleformAlwaysActiveLabel {
        font-size: 0.8rem !important;
        //transform: translateY(-140%) !important;
    }

    /* --- icons --- */
    i.material-icons.prefix.dateIcon, i.material-icons.prefix.timeIcon {
        margin-top: 8px;
    }

    /* --- toolbars --- */
    .skeleskeleStaticBarPlaceholder {
        width: 100%;
    }

    .skeleStaticBar{
        .skeleformToolbar {
            margin-bottom: 30px;
        }

        .skeleformLangs {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;

            .langFlag {
                float: left;
                margin: 3px 4px;

                img {
                    max-height: 30px;
                    border: solid 3px darken($thirdPanelColorBorder, 10%);
                    cursor: pointer !important;
                }

                &.active {
                    img {
                        border-color: $firstHoverColor;
                    }
                }
            }
        }

        .staticAddons {
            margin-top: -12px;
            line-height: 1 !important;
            vertical-align: middle;
        }
    }

    .staticTop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: lighten($firstPanelColor, 10%);
        z-index: 2001;
        padding-top: 10px;
        height: 60px;
        border-bottom: solid 3px $firstPanelColorBorder;
        margin-top: 0 !important;
        margin-left: 0 !important;

        .centralBody{
            margin-top: 6px;
        }

        i.firstHoverColor {
            color: $firstHoverColor !important;
        }
        i.firstHoverColor:hover {
            color: $firstPanelColorLinkHover !important;
        }
    }
    /* --- end toolbars --- */


    .skeleformReplicaBtnsWrapper {
        margin-bottom: 30px;
    }

    .select-wrapper + label {
        top: 0;
    }

    .dropdown-content [type="checkbox"] + label {
        top: -10px !important;
    }

    .skeleReplicaBtnMoveUp {
        margin-left: 25px;
    }

    .skeleformReplicaSet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .skeleformReplicaFrame {
            flex: 1 0 calc(50% - 50px);
            max-width: calc(50% - 50px);

            .replicaFrameBody {
                position: relative;
                background-color: darken($firstBackgroundColor, 3%);
                padding: 0 5px 0 5px;
                margin-bottom: 32px;
                margin: 20px;
                border: solid 2px $thirdPanelColor;

                .row {
                    margin-bottom: 0;
                }

                .skeleformReplicaIndex {
                    position: absolute;
                    top: 0;
                    left: 0 !important;
                    background-color: $thirdPanelColor;
                    color: $secondPanelColorText;
                    font-size: 22px;
                    text-align: center;
                    padding-top: 8px;
                    width: 55px !important;
                    height: 55px;
                }

                .skeleformReplicaHandle {
                    height: 55px;
                    background-color: $thirdPanelColor;
                    color: darken($firstBackgroundColor, 11%);
                    position: relative;
                    width: calc(100% + 10px);
                    top: 0;
                    left: -5px;
                    cursor: move;
                    text-align: center;
                    margin-bottom: 12px;

                    i {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .skeleformReplicaBtnsWrapper {
                    padding-bottom: 20px;
                }
            }
        }
    }
}


// fields
.autocompleteContainer {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 1000;
    width: calc(100% - (2 * 0.75rem));
    background-color: $firstBackgroundColor;
    max-height: 301px;
    overflow: auto;
    border: solid 2px $thirdPanelColor;

    .skeleformAutocompleteProgress {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 0;
        background-color: $firstPanelColor !important;

        .indeterminate {
            background-color: $fourthPanelColor;
        }
    }

    .collection {
        margin: 0;
        border: none;
        border-radius: 0;

        &::-webkit-scrollbar {
            width: 17px;
        }
        &::-webkit-scrollbar-track {
            background-color: $thirdPanelColor;
        }
        &::-webkit-scrollbar-thumb {
            background-color: lighten($thirdPanelColor, 20%);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: lighten($thirdPanelColor, 30%);
        }
        &::-webkit-scrollbar-button {
            display: none !important;
        }

        .autocompleteSuggestion {
            cursor: pointer;
            background-color: $firstBackgroundColor;
            color: $firstTextColor;

            &:hover {
                background-color: $secondPanelColor;
                color: $secondPanelColorText;
            }
        }
    }
}

.autocompleteSelected {
    max-height: 300px;
    overflow: auto;
    border: solid 2px $thirdPanelColor;
    background-color: $thirdPanelColor;

    &::-webkit-scrollbar {
        width: 17px;
    }
    &::-webkit-scrollbar-track {
        background-color: $thirdPanelColor;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($thirdPanelColor, 20%);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($thirdPanelColor, 30%);
    }
    &::-webkit-scrollbar-button {
        display: none !important;
    }

    .selectedSuggestion {
        padding: 7px 22px;
        background-color: $thirdPanelColor;
        color: $thirdPanelColorText;

        &:hover {
            color: $secondPanelColorText;
            background-color: $secondPanelColor;

            .material-icons {
                color: $secondPanelColorText;
            }
        }

        &:not(:last-of-type) {
            border-bottom: solid 1px lighten($thirdPanelColor, 7%);
        }

        .material-icons {
            float: right;
            cursor: pointer;
            color: $thirdPanelColorLink;
        }
    }
}


// test page styles
.skelePanelTest {
    .container {
        div {
            background-color: $firstPanelColor;
            color: $firstPanelColorText;
            padding: 12px 22px;
            margin-bottom: 7px;
            max-width: 300px;
            cursor: pointer;
        }
    }
}


// print functions
.skeleformPrintArea {
    text-align: center;

    .skeleformPrintPage {
        border: solid 2px $firstPanelColor;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}
