@import "{cerealkiller:skeletor}/styles/panel-colors";

// form colors
@import "form-colors";

// clockpicker;
@import "clockpicker.primary";

// file uploader
@import "file-uploader";


$editorBorderSize: 2px !default;



.skeleformWrapper {
    margin-top: 60px;

    .skeleformInvisible {
        opacity: 0 !important;
    }

    .skeleformFieldAlert {
        margin: 0;

        &.skeleformCheckBoxAlert {
            margin-top: 15px;

            .switch + & {
                margin-top: 45px;
            }
        }
    }

    .switchLabel {
        margin-bottom: 15px;
    }
    .switch {
        label {
            margin-top: 15px;
        }
    }

    .skeleformBtnConfirmModalProgress {
        display: none;
    }

    .skeleformAlwaysActiveLabel {
        font-size: 0.8rem !important;
        //transform: translateY(-140%) !important;
    }

    /* --- icons --- */
    i.material-icons.prefix.dateIcon, i.material-icons.prefix.timeIcon {
        margin-top: 8px;
    }

    /* --- toolbars --- */
    .skeleskeleStaticBarPlaceholder {
        width: 100%;
    }

    .skeleStaticBar{
        .skeleformToolbar {
            margin-bottom: 30px;
        }

        .skeleformLangs {
            display: inline-block;
            vertical-align: middle;
            margin-right: 25px;

            .langFlag {
                float: left;
                margin: 3px 4px;

                img {
                    max-height: 30px;
                    border: solid 3px darken($thirdPanelColorBorder, 10%);
                    cursor: pointer !important;
                }

                &.active {
                    img {
                        border-color: $firstHoverColor;
                    }
                }
            }
        }

        .staticAddons {
            margin-top: -12px;
            line-height: 1 !important;
            vertical-align: middle;
        }
    }

    .skeleStaticTop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: lighten($firstPanelColor, 10%);
        z-index: 10000;
        padding-top: 10px;
        height: 60px;
        border-bottom: solid 3px $firstPanelColorBorder;
        margin-top: 0 !important;
        margin-left: 0 !important;

        .centralBody{
            margin-top: 6px;
        }

        i.firstHoverColor {
            color: $firstHoverColor !important;
        }
        i.firstHoverColor:hover {
            color: $firstPanelColorLinkHover !important;
        }
    }
    /* --- end toolbars --- */


    .skeleformReplicaBtnsWrapper {
        margin-bottom: 30px;
    }

    .select-wrapper + label {
        top: 0;
    }

    .dropdown-content [type="checkbox"] + label {
        top: -10px !important;
    }

    .skeleReplicaBtnMoveUp {
        margin-left: 25px;
    }

    .skeleformReplicaSet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .skeleformReplicaFrame {
            flex: 1 0 calc(50% - 50px);
            max-width: calc(50% - 50px);

            .replicaFrameBody {
                position: relative;
                background-color: darken($firstBackgroundColor, 3%);
                padding: 0 5px 0 5px;
                margin-bottom: 32px;
                margin: 20px;
                border: solid 2px $thirdPanelColor;

                .row {
                    margin-bottom: 0;
                }

                .skeleformReplicaIndex {
                    position: absolute;
                    top: 0;
                    left: 0 !important;
                    background-color: $thirdPanelColor;
                    color: $secondPanelColorText;
                    font-size: 22px;
                    text-align: center;
                    padding-top: 8px;
                    width: 55px !important;
                    height: 55px;
                }

                .skeleformReplicaHandle {
                    height: 55px;
                    background-color: $thirdPanelColor;
                    color: darken($firstBackgroundColor, 11%);
                    position: relative;
                    width: calc(100% + 10px);
                    top: 0;
                    left: -5px;
                    cursor: move;
                    text-align: center;
                    margin-bottom: 12px;

                    i {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                .skeleformReplicaBtnsWrapper {
                    padding-bottom: 20px;
                }
            }
        }
    }
}


// fields
.autocompleteContainer {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 1000;
    width: calc(100% - (2 * 0.75rem));
    background-color: $firstBackgroundColor;
    max-height: 301px;
    overflow: auto;
    border: solid 2px $thirdPanelColor;

    .skeleformAutocompleteProgress {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px;
        border-radius: 0;
        background-color: $firstPanelColor !important;

        .indeterminate {
            background-color: $fourthPanelColor;
        }
    }

    .collection {
        margin: 0;
        border: none;
        border-radius: 0;

        &::-webkit-scrollbar {
            width: 17px;
        }
        &::-webkit-scrollbar-track {
            background-color: $thirdPanelColor;
        }
        &::-webkit-scrollbar-thumb {
            background-color: lighten($thirdPanelColor, 20%);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: lighten($thirdPanelColor, 30%);
        }
        &::-webkit-scrollbar-button {
            display: none !important;
        }

        .autocompleteSuggestion {
            cursor: pointer;
            background-color: $firstBackgroundColor;
            color: $firstTextColor;

            &:hover {
                background-color: $secondPanelColor;
                color: $secondPanelColorText;
            }
        }
    }
}

.autocompleteSelected {
    max-height: 300px;
    overflow: auto;
    border: solid 2px $thirdPanelColor;
    background-color: $thirdPanelColor;

    &::-webkit-scrollbar {
        width: 17px;
    }
    &::-webkit-scrollbar-track {
        background-color: $thirdPanelColor;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($thirdPanelColor, 20%);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($thirdPanelColor, 30%);
    }
    &::-webkit-scrollbar-button {
        display: none !important;
    }

    .selectedSuggestion {
        padding: 7px 22px;
        background-color: $thirdPanelColor;
        color: $thirdPanelColorText;

        &:hover {
            color: $secondPanelColorText;
            background-color: $secondPanelColor;

            .material-icons {
                color: $secondPanelColorText;
            }
        }

        &:not(:last-of-type) {
            border-bottom: solid 1px lighten($thirdPanelColor, 7%);
        }

        .material-icons {
            float: right;
            cursor: pointer;
            color: $thirdPanelColorLink;
        }
    }
}


// test page styles
.skelePanelTest {
    .container {
        div {
            background-color: $firstPanelColor;
            color: $firstPanelColorText;
            padding: 12px 22px;
            margin-bottom: 7px;
            max-width: 300px;
            cursor: pointer;
        }
    }
}


// print functions
.skeleformPrintArea {
    text-align: center;

    .skeleformPrintPage {
        border: solid 2px $firstPanelColor;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}


.skeleEditorToolbarWrapper {
    position: sticky;
    top: 0;
    background-color: $thirdPanelColor;
    color: $thirdPanelColorText;
    z-index: 9999;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .skeleEditorToolbar {
        display: flex;
        flex-direction: row;

        &:not(:first-of-type) {
            margin-left: 5px;
        }

        .select-wrapper {
            input {
                border: none;
                margin-bottom: 0;
                height: 100%;
            }

            .caret {
                color: $thirdPanelColorText;
            }

            ul.dropdown-content {

                li:first-of-type.disabled {
                    position: sticky;
                    top: 0;
                }
            }
        }
    }

    .skeleEditorBtn {
        text-align: center;
        height: 45px;
        width: 45px;
        cursor: pointer;

        &.active {
            background-color: $thirdPanelColorHover;
        }

        &:hover {
            background-color: lighten($thirdPanelColorHover, 5%);
        }

        i {
            line-height: 45px;
            height: 100%;
            width: 100%;
        }
    }
}
.skeleEditorToolbarDescriptionWrapper {
    height: 26px;
    background-color: lighten($firstPanelColor, 27%);
    color: $thirdPanelColor;
    border-left: solid $editorBorderSize $thirdPanelColor;
    border-right: solid $editorBorderSize $thirdPanelColor;
    flex-basis: 100%;

    .skeleEditorToolbarDescription {
        opacity: 0;
        line-height: 15px;
        font-size: 15px;
        padding: 5px 15px;

    }
}
.skeleEditorLabel {
    top: -10px !important;
}
.skeleEditor {
    height: 100%;
    overflow: auto;
    max-height: 500px;
    background-color: $panelBackgroundOverlayColor;
    padding: 12px 24px;
    border-left: solid $editorBorderSize $thirdPanelColor;
    border-right: solid $editorBorderSize $thirdPanelColor;
    border-bottom: solid $editorBorderSize $thirdPanelColor;
    margin-bottom: 24px;

    &:focus {
        outline: none;
    }

    &.altColor {
        background-color: lighten($firstTextColor, 10%);
    }
}


// time machine
.timeMachineFunctionsOverlay {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(22, 22, 22, 0.7);
    z-index: 11000;

    &.active {
        display: block;
    }
}
.timeMachineFunctionsWrapper {
    background-color: $thirdPanelColor;
    color: $thirdPanelColorText;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12000;
    transform: translateX(100%);
    transition: transform 0.15s linear;
    width: 300px;

    &.active {
        transform: translateX(0);
    }

    .availableStatesTitle {
        @extend .secondColor;
        padding: 15px 25px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .availableStatesSubtitle {
        padding: 15px 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .availableStates {
        background-color: lighten($thirdPanelColor, 10%);
        height: 60vh;
        overflow-y: auto;
        border-top: solid 7px lighten($thirdPanelColor, 15%);
        border-bottom: solid 11px lighten($thirdPanelColor, 15%);

        &::-webkit-scrollbar {
            width: 17px;
        }
        &::-webkit-scrollbar-track {
            background-color: $thirdPanelColor;
        }
        &::-webkit-scrollbar-thumb {
            background-color: lighten($thirdPanelColor, 15%);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: lighten($thirdPanelColor, 30%);
        }
        &::-webkit-scrollbar-button {
            display: none !important;
        }

        .availableState {
            padding: 7px 25px;
            transition: all 0.1s;
            position: relative;

            &:hover {
                background-color: $firstInteractiveColorHover;
                color: $firstInteractiveTextHover;
                cursor: pointer;

                .stateIndex {
                    color: $firstInteractiveTextHover;
                }
            }

            .stateIndex {
                color: $firstInteractiveColorHover;
            }

            .deleteStateBtn {
                display: inline-block;
                position: absolute;
                height: 36px;
                width: 36px;
                padding: 6px;
                cursor: pointer;
                right: 0;
                top: 0;
                background-color: darken($firstPanelColor, 10%);
                color: darken($firstPanelColorText, 15%);
                transition: all 0.3s;

                &:hover {
                    background-color: $secondPanelColor;
                    color: $secondPanelColorText;
                }
            }
        }
    }

    .bottomToolbar {
        font-size: 0;

        .squareBtn {
            display: inline-block;
            width: 56px;
            height: 56px;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s;
            margin-right: 0;

            &:nth-child(odd) {
                background-color: $secondPanelColor;
                color: $secondPanelColorText;
            }
            &:nth-child(even) {
                background-color: $firstPanelColor;
                color: $firstPanelColorText;
            }

            i {
                font-size: 36px;
            }

            &:hover {
                background-color: $firstInteractiveColorHover;
                color: $firstInteractiveTextHover;
            }
        }
    }

    .toolbarDescription {
        padding: 7px 25px;
        color: $firstInteractiveColorHover;
        height: 36px;
    }

    .timeMachineCurrentStateWrapper {
        background-color: lighten($thirdPanelColor, 10%);

        .timeMachineCurrentStateLabel {
            display: inline-block;
            padding: 7px 25px;
        }

        .timeMachineCurrentState {
            display: inline-block;
            padding: 7px 12px;
            background-color: $firstInteractiveColorHover;
            color: $firstInteractiveTextHover;
            height: calc(100% + 10px);
            font-weight: bold;
        }
    }
}
