// app colors
@import "{}/client/styles/colors";



.skeleformFieldAlert {
    //min-height: 21px;
    margin: 0;
}

.skeleformWrapper {
    margin-top: 60px;
}

.staticBar{
    .skeleformToolbar {
        margin-bottom: 30px;
    }

    .staticAddons {
        margin-top: -12px;
        line-height: 1 !important;
    }
}

.staticTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lighten($firstColor, 10%);
    z-index: 2001;
    padding-top: 10px;
    height: 70px;
    border-bottom: solid 3px $firstColorBorder;
    margin-top: 0 !important;
    margin-left: 0 !important;

    .centralBody{
        margin-top: 6px;
    }
}

.picker--opened .picker__frame {
    top: 5% !important;
}

.select-wrapper + label {
    top: 2px !important;
}